<div class="main-heading-contact">
  <div class="container">
  </div>
</div>
<script src="https://www.gstatic.com/firebasejs/5.5.7/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDQDFqMhkNCqirUHAptBYBpZJg0gOXqjFg",
    authDomain: "jei-site-contact.firebaseapp.com",
    databaseURL: "https://jei-site-contact.firebaseio.com",
    projectId: "jei-site-contact",
    storageBucket: "jei-site-contact.appspot.com",
    messagingSenderId: "97508577342"
  };
  firebase.initializeApp(config);
</script>


