<div class="main-heading-contact">
  <div class="">
  </div>
</div>

<div class="container" style="margin-top: 50px">
    <form action="MAILTO:benyaflahhamdi2@gmail.com" method="POST" enctype="text/plain">
      <label for="fname">Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name.." [(ngModel)]="name">
  
      <label for="lname">Email</label>
      <input type="text" id="lname" name="lastname" placeholder="Your Email.." [(ngModel)]="email">
  
      <label for="country">University</label>
      <select id="country" name="country">
        <option value="insat" [(ngModel)]="university" >INSAT</option>
      </select>
  
      <label for="subject">Subject</label>
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px" [(ngModel)]="subject"></textarea>
  
      <input type="submit" value="Send">
    </form>
  </div>

  <div class="container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3192.982591213649!2d10.19400795038571!3d36.842892979841324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd34c6d1e93bef%3A0x4153c4733f285343!2sInstitut+national+des+sciences+appliqu%C3%A9es+et+de+technologie!5e0!3m2!1sfr!2stn!4v1542792170229" width="1100" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>