<footer class="footer">
  <div class="footer_item">
    <img src="/src/assets/images/fond_bleu.png" id="imagediv">
  </div>
  <div class="footer_item">
    <h4 style="text-align: center;">Quick Links</h4>
    <ul>
      <li>Home</li>
      <li>Actualités</li>
      <li>Evénements</li>
      <li>Projets</li>
    </ul>
    <ul>
      <li>Structure</li>
      <li>Formations</li>
      <li>Contact us</li>
    </ul>
  </div>

  <div class="footer_item">
    <h4><span>Do you like ? Share this !</span></h4>
    <a href="https://facebook.com/" class="social-round-icon white-round-icon fa-icon" title="">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <a href="https://twitter.com/" class="social-round-icon white-round-icon fa-icon" title="">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <a href="https://www.linkedin.com/" class="social-round-icon white-round-icon fa-icon" title="">
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
    <p><small>© Untitled | Website created with <a href="http://www.mashup-template.com/" class="link-like-text" title="Create website with free html template">Mashup
          Template</a>/<a href="http://www.unsplash.com/" class="link-like-text" title="Beautiful Free Images">Unsplash</a></small></p>
  </div>

  <div class="footer_item">
    <h4>Subscribe to newsletter</h4>

    <form>
      <input type="text" class="form-control footer-input-text">
      <a href="#" id="submit" class="input-group-addon">submit</a>
    </form>




  </div>

  <div id="footer02">
    © 2018 Junior Entrerise Insat. Tous droits réservés.<br>
    Terms of Use / Privacy Policy
  </div>
</footer>