<footer class="footer-distributed">
  <div class="row">

    <div class="col-xs-6 col-sm-3">
      <div class="text-center">

        <img src="../../../assets/images/Fond_perturbé1.png" style="vertical-align: middle;width:230px;padding-left:30px" id="img">
        <br>
        <div align="justified" style="color:grey;text-align: left;">&nbsp;&nbsp;&nbsp;&nbsp;La Junior &nbsp;Entreprise &nbsp;INSAT est un club à but non lucratif dont la mission est
          de former les &nbsp;différents étudiants dans &nbsp;le &nbsp;domaine de &nbsp;l'entreprenariat et leur faciliter
          de ce fait l'intégration dans la vie professionnelle.
        </div>
        <br>
        <div>

          <button id="downloadBtn" type="button" class="btn btn-primary btn-lg" style="background-color: #292c2f;border-color:white">
            <a href="#" class="h" id="h" download="../../../assets/plaquette de prospection num.pdf" style="color:white;">Notre plaquette</a>
          </button>
 
        </div>
      </div>


    </div>
    <div class="col-xs-6 col-sm-2">
      <p class="footer-links" style="padding-left:80px">
        .
        <a href="/home" style="vertical-align: middle;">Accueil</a>
        <br> .
        <a href="/actualite">Actualités</a>
        <br> .
        <a href="/evenement">Événements</a>
        <br> ·
        <a href="/projet">Projets</a>
        <br> ·
        <a href="/formation">Formations</a>
        <br> .
        <a href="/structure">Structure</a>
        <br> ·
        <a href="/contact">Contact</a>
        <br> .
        <a href="/sponsor">Sponsors</a>
        <br> .
        <a href="/aboutus">À Propos</a>
      </p>

    </div>
    <div class="col-xs-6 col-sm-4 ">

      <div class="footer-display">

        <div>
          <i class="fa fa-map-marker"></i>
          <p>
            <span>676 INSAT Centre Urbain Nord</span> Tunis Cedex 1080 </p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+216 99 346 808</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p>
            <a href="#">Junior.entreprise.insat@gmail.com</a>
          </p>
        </div>
      </div>

    </div>

    <div class="col-xs-6 col-sm-3">
      <div class="fb-page" data-href="https://www.facebook.com/junior.entreprise.insat" data-tabs="timeline" data-height="300"
        data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/junior.entreprise.insat" class="fb-xfbml-parse-ignore">
          <a href="https://www.facebook.com/junior.entreprise.insat">Junior Entreprise INSAT</a>
        </blockquote>
      </div>
    </div>
  </div>
  <p class="footer-company-name text-center">Junior Entreprise Insat &copy; 2018</p>
</footer>