<!DOCTYPE html>
<html lang="en" ng-app="Big" ng-controller="AppCtrl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Footer - JEI</title>
</head>
<body>
  <div id="footer">
      <div class="section-container footer-container" id="footer01">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-3">
                      <img src="/src/assets/images/fond_bleu.png" id="imagediv">
                  </div>
                      <div class="col-md-3">
                          <h4 style="text-align: center;">Quick Links</h4>
                          <ul>
                            <div class="col-md-6">
                                <li>Home</li>
                                <li>Actualités</li>
                                <li>Evénements</li>
                                <li>Projets</li>
                            </div>
                            <div class="col-md-6">
                                <li>Structure</li>
                                <li>Formations</li>
                                <li>Contact us</li>
                            </div>
                          </ul>
                      </div>
  
                      <div class="col-md-3">
                          <h4><span>Do you like ? Share this !</span></h4>
                          <a href="https://facebook.com/" class="social-round-icon white-round-icon fa-icon" title="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                          </a>
                          <a href="https://twitter.com/" class="social-round-icon white-round-icon fa-icon" title="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                          </a>
                          <a href="https://www.linkedin.com/" class="social-round-icon white-round-icon fa-icon" title="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                          </a>
                          <p><small>© Untitled | Website created with <a href="http://www.mashup-template.com/" class="link-like-text" title="Create website with free html template">Mashup Template</a>/<a href="http://www.unsplash.com/" class="link-like-text" title="Beautiful Free Images">Unsplash</a></small></p>    
                      </div>
  
                      <div class="col-md-3">
                          <h4>Subscribe to newsletter</h4>
                          
                          <div class="form-group row" id="input">
                              <div class="input-group col-lg-10">
                                  <input type="text" class="form-control footer-input-text">
                                  <a href="#" id="submit" class="input-group-addon">submit</a>
                              </div>
                          </div>
  
  
                      </div>
              </div>
          </div>
      </div> 
      <div class="row col-md-12 col-lg-12" id="footer02">
          © 2018 Junior Entrerise Insat. Tous droits réservés.<br>
          Terms of Use / Privacy Policy
        </div>  
  </div>
</body>
</html>
