* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: "Josefin Sans", sans-serif;
  }
  
  .navbar {
    position: fixed; 
    width: 100%; 
    font-size: 18px;
    background-image: linear-gradient(260deg, white 0%, white 100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
   
    
  }
  
  .main-nav {
    list-style-type: none;
    display: none;
  }
  
  .nav-links{
    text-decoration: none;
    color: black;
  }
  
  .main-nav li {
    text-align: center;
    margin: 15px auto;
  }
  
  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(3, 3, 3, 0.8);
    font-size: 24px;
  }
  
  .active {
    display: block;
  }
  
  @media screen and (min-width: 768px) {
    .navbar{
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
    }
  
    .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .main-nav li {
      margin: 0;
    }
  
    .nav-links {
      margin-left: 40px;
    }
    
      .navbar-toggle {
        display: none;
      }
    
      .nav-links:hover {
        color: rgba(139, 37, 44, 1);
      }
    }

  
  .dropdown {
      position: relative;
      display: inline-block;
  }
  
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }
  
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

