<div style="margin-bottom: 93px;">
  <div class="navbar-fixed-top navbar-expand-md">
    <nav class="navbar" style="height: 90px">
      <span class="navbar-toggle" id="js-navbar-toggle">
        <i class="fa fa-bars"></i>
      </span>
      <a>
        <div style="height:76px; width:154px; margin-top: -70px;">
          <a routerLink='/home'><img src="../../../assets/images/fond_blanc-01-01.png"></a>
        </div>
      </a>
      <ul class="main-nav" id="js-menu">
        <li> <a class="nav-links" routerLink='/home'> Home </a> </li>
        <li> <a class="nav-links" routerLink='/actualite'>Actualités</a></li>
        <li> <a class="nav-links" routerLink='/evenement'>Evenements</a></li>
        <li> <a class="nav-links" routerLink='/projet'> Projets </a></li>
        <li> <a class="nav-links" routerLink='/formation'> Formations </a></li>
        <li> <a class="nav-links" routerLink='/structure'> Structure</a></li>
        <li> <a class="nav-links" routerLink='/contact'> Contact us</a></li>
        <li> <a class="nav-links" routerLink='/sponsor'> Sponsors</a></li>
      </ul>
    </nav>
  </div>
</div>

<script>
  let mainNav = document.getElementById('js-menu');
  let navBarToggle = document.getElementById('js-navbar-toggle');

  navBarToggle.addEventListener('click', function () {
    mainNav.classList.toggle('active');
  });
</script>