<div  id="sticker-sticky-wrapper" class="sticky-wrapper" style="height: 87px;">
  <div  id="sticker" class="header navbar-fixed-top navbar-expand-md">
    <div class="container">
      <!-- Row Rtart -->
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div  style="height:76px; width:154px; margin-top: -35px">
            <a routerLink='/home'><img src="../../../assets/images/fond_blanc-01-01.png"></a>
          </div>
        </div>
        <div class=" col-md-9 col-sm-9  col-xs-6">
          <!--navegation-->
          <div class="navigationwrape">
            <div class="navbar navbar-default" role="navigation" >
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                  <span class="icon-bar"></span> </button>
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li> <a class="col-md-6 col-sm-9" routerLink='/home' style="margin-left: -100px"> Home </a> </li>
                  <li> <a class="col-md-6 col-sm-9" routerLink='/actualite'>Actualités</a></li>
                  <li> <a class="col-md-6 col-sm-9" routerLink='/evenement'>Evenements</a></li>
                  <li> <a class="col-md-6 col-sm-9" routerLink='/projet'> Projets </a></li>
                  <li> <a class="col-md-6 col-sm-9" routerLink='/formation'> Formations </a></li>
                  <li> <a class="col-md-6 col-sm-9" routerLink='/structure'> Structure</a></li>
                  <li> <a class="col-md-7 col-sm-9" routerLink='/contact'> Contact</a></li>
                  
                </ul>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Row End -->
    </div>
  </div>
</div>


