<!DOCTYPE html>
<html lang="en" ng-app="Big" ng-controller="AppCtrl">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Our Team - BIG Construct</title>
</head>

<body>
    <!--inner header start-->
    <div class="main-heading">
        <div class="container">
            <h3>Our Team</h3>
        </div>
    </div>
    <!--inner header end-->


    <!--MandatList start-->
    <app-years-navbar></app-years-navbar>
    <!--MandatList end-->

      
    
    <!--About start-->
    
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let departement of departementList; let i=index" (click)="onDepartement(i)">
                <div  class="employe-container team">
                    <div class="employe-thumbnail-classic profile-image"> <img src="src/assets/images/team-1.jpg" >
                        <div class="team-profile">
                            <h5><a href="#">{{departement}}</a></h5>
                            <span>Responsable:</span>
                            <span style="color:rgb(12,20,52);">Foulen Fouleni</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  

    <!--About end-->

    <!--team start-->
        <app-departement1 *ngIf="verifDepartement1"></app-departement1>
    <!--Team end-->

        
</body>
</html>