<!DOCTYPE html>
<html lang="en" ng-app="Big" ng-controller="AppCtrl">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Structure</title>
</head>

<body>
    <!--inner header start-->
    <div class="main-heading">
        <div class="container">
            
        </div>
    </div>
    <!--inner header end-->

    <!--About start-->
    
    <!--About start-->
    <h1  style="padding-top: 70px">Bureau <span>exécutif 2018-2019</span></h1>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6" *ngFor="let Memeber of MemberList; let i=index" (click)="onDepartement(i)">
                <div  class="employe-container team">
                    <div class="employe-thumbnail-classic profile-image"> <img src="src/assets/images/Bureau/{{Memeber.office}}.jpg" >
                        <div class="team-profile">
                            <h5><a href="#">{{Memeber.name}}</a></h5>
                            <span>Responsable:</span>
                            <span style="color:rgb(12,20,52);">{{Memeber.office}}</span>
                            <ul class="experts">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
  

    <!--About end-->

    <!--team start-->
        <app-departement1 *ngIf="verifDepartement1"></app-departement1>
        <app-departement2 *ngIf="verifDepartement2"></app-departement2>
    <!--Team end-->

        
</body>
</html>