<div class="blank-heading">
  <div class="container">
    <h3>Our Sponsors</h3>
  </div>
</div>


<div class="container sponsors-container">

  <!--<h4 class="sponsor-title">Sponsors</h4>-->

  <ul class="row serviceList">

      <li *ngFor="let sponsor of sponsors" class="col-md-3 col-sm-4 col-xs-6  justify-content-center">
        <div class="sponsors-box">
          <div class="service-image">
            <img src="../../../assets/images/logos/{{sponsor.img}}" alt="{{sponsor.name}}">
          </div>
        </div>
      </li>
  </ul>
</div>

<div class="blank-heading">
  <div class="container">
    <h3>Our Partners</h3>
  </div>
</div>

<div class="container">

  <ul class="row serviceList">
    <li *ngFor="let partner of partners" class="col-md-6 col-sm-6 justify-content-center">
      <div class="sponsors-box">
        <div class="service-image"><img src="../../../assets/images/logos/{{partner.img}}">

        </div>


      </div>
    </li>
  </ul>


</div>


