<div class="main-heading-events">
    <div class="container">
      <h3>Evenements</h3>
    </div>
  </div>
  
  <div class="container">
    <app-years-navbar></app-years-navbar>
  
    <div class="row">
      <div class="col-md-12" >
        <div class="row filtr-container" style="padding: 0px; position: relative; height: 500px;">
          <div *ngFor="let evenement of evenements" class="col-xs-12 col-sm-4 col-md-4 filtr-item" attr.data-sort={{evenement.dataSort}}
            data-category="1, 4" >
            <div class="product-container" style="height: 150px">
              <a routerLink="/evenements/{{evenement.id}}" class="portfolio-img mfp-image">
                <img src="../../../assets/images/evenements/affiche/{{evenement.img}}" alt="">
              </a>
              <span class="item-desc">{{evenement.name}}</span>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
