<div class="main-heading">
    <div class="container">
    </div>
  </div>
  
  <div class="container">
   <app-years-navbar></app-years-navbar>
  
    <ul class="row serviceList">
      <li *ngFor="let projet of projets" class="col-md-4 col-sm-6" >
        <div class="sevices-box" >
          <div class="service-image" style="height: 170px;"><img src="../../../assets/images/projects/affiche/{{projet.img}}">
            <div class="hoverlink"></div>
          </div>
          <div class="service-details hvr-sweep-to-bottom" style="text-align-last: center">
            <h3 style="color: #0c1434">{{projet.name}}</h3>
            <p>{{projet.decription}}</p>
            <a routerLink="/projets/{{projet.id}}" (click)="loadScripts()" class="btn-style-1 size-medium light-skin uppercase corner-rounded">Lire la suite</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
