<!--inner header start-->
<div class="main-heading-actualites">
  <div class="container">
  </div>
</div>
<!--inner header end-->

<!--inner content start-->
<div class="main-content">
  <div class="container">
    <ul class="timeline">

      <li>
        <div class="timeline-badge danger">2018
        </div>
      </li>
      <br>
      <br>
      <br>
      <!-- start block left-->
      <li>
        <div class="timeline-panel">
          <div>
            <table>
              <tr>
                <td>
                  <img src="../../assets/images/actualite/calendar/x.png" style="height: 15px;width:15px">
                </td>
                <td>
                  <h4>
                    <i>
                      &nbsp;&nbsp;Le Mercredi 06/02/2018
                    </i>
                  </h4>
                </td>
              </tr>
            </table>
          </div>


          <div class="timeline-heading">
            <h4 class="timeline-title" style="color:brown">Proin laoreet fringilla congue</h4>
          </div>
          <div class="timeline-body">
            <p class="text-justify">In a orci commodo, sollicitudin velit id, euismod arcu. Cras viverra varius cursus. Vestibulum sed risus urna.
              Donec lobortis venenatis feugiat. Donec semper ultrices fermentum. Morbi justo diam, pulvinar et semper eu,
              pretium eget quam. Cras at elit a dolor facilisis congue eu ac sapien.Suspendisse bibendum pulvinar tempus.
              Cras volutpat mattis est sit amet ornare. Quisque pharetra pretium lectus eu malesuada. Vestibulum ante ipsum
              primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi elementum dapibus risus a commodo.
              In non sagittis leo. Nulla efficitur, ipsum ac fringilla rhoncus, augue nisl lobortis tortor, in rhoncus elit
              lacus vitae sem. </p>
          </div>
        </div>

      </li>
      <!-- end block left-->
      <!-- start block right-->
      <li class="timeline-inverted">
        <div class="timeline-panel">
          <div>
            <table>
              <tr>
                <td>
                  <img src="../../assets/images/actualite/calendar/x.png" style="height: 15px;width:15px">
                </td>
                <td>
                  <h4>
                    <i>
                      &nbsp;&nbsp;Le jeudi 20/10/2018
                    </i>
                  </h4>
                </td>
              </tr>
            </table>
          </div>
          <div class="timeline-heading">
            <h4 class="timeline-title " style="color:brown">Curabitur gravida urna sit</h4>
          </div>
          <div class="timeline-body">
            <p class="text-justify">In a orci commodo, sollicitudin velit id, euismod arcu. Cras viverra varius cursus. Vestibulum sed risus urna.
              Donec lobortis venenatis feugiat. Donec semper ultrices fermentum. Morbi justo diam, pulvinar et semper eu,
              pretium eget quam. Cras at elit a dolor facilisis congue eu ac sapien.Suspendisse bibendum pulvinar tempus.
              Cras volutpat mattis est sit amet ornare. Quisque pharetra pretium lectus eu malesuada. Vestibulum ante ipsum
              primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi elementum dapibus risus a commodo.
              In non sagittis leo. Nulla efficitur, ipsum ac fringilla rhoncus, augue nisl lobortis tortor, in rhoncus elit
              lacus vitae sem. </p>
          </div>
        </div>
      </li>
      <!-- end block right-->

      <li class="timeline-inverted">
        <div class="timeline-badge info">2017</div>
      </li>
      <br>
      <br>
      <br>
      <!-- start block left-->
      <li>
        <div class="timeline-panel">
          <div>
            <table>
              <tr>
                <td>
                  <img src="../../assets/images/actualite/calendar/x.png" style="height: 15px;width:15px">
                </td>
                <td>
                  <h4>
                    <i>
                      &nbsp;&nbsp;Le jeudi 20/10/2017
                    </i>
                  </h4>
                </td>
              </tr>
            </table>
          </div>
          <div class="timeline-heading">
            <h4 class="timeline-title" style="color:#00004d">Nunc aliquet est at erat semper</h4>
          </div>
          <div class="timeline-body">
            <p class="text-justify">In a orci commodo, sollicitudin velit id, euismod arcu. Cras viverra varius cursus. Vestibulum sed risus urna.
              Donec lobortis venenatis feugiat. Donec semper ultrices fermentum. Morbi justo diam, pulvinar et semper eu,
              pretium eget quam. Cras at elit a dolor facilisis congue eu ac sapien.Suspendisse bibendum pulvinar tempus.
              Cras volutpat mattis est sit amet ornare. Quisque pharetra pretium lectus eu malesuada. Vestibulum ante ipsum
              primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi elementum dapibus risus a commodo.
              In non sagittis leo. Nulla efficitur, ipsum ac fringilla rhoncus, augue nisl lobortis tortor, in rhoncus elit
              lacus vitae sem. </p>
          </div>
        </div>
      </li>
      <!-- end block left-->
      <!-- start block right-->
      <li class="timeline-inverted">
        <div class="timeline-panel">
          <div>
            <table>
              <tr>
                <td>
                  <img src="../../assets/images/actualite/calendar/x.png" style="height: 15px;width:15px">
                </td>
                <td>
                  <h4>
                    <i>
                      &nbsp;&nbsp;Le jeudi 20/10/2017
                    </i>
                  </h4>
                </td>
              </tr>
            </table>
          </div>
          <div class="timeline-heading">
            <h4 class="timeline-title " style="color:#00004d">Curabitur gravida urna sit</h4>
          </div>
          <div class="timeline-body">
            <p class="text-justify">In a orci commodo, sollicitudin velit id, euismod arcu. Cras viverra varius cursus. Vestibulum sed risus urna.
              Donec lobortis venenatis feugiat. Donec semper ultrices fermentum. Morbi justo diam, pulvinar et semper eu,
              pretium eget quam. Cras at elit a dolor facilisis congue eu ac sapien.Suspendisse bibendum pulvinar tempus.
              Cras volutpat mattis est sit amet ornare. Quisque pharetra pretium lectus eu malesuada. Vestibulum ante ipsum
              primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi elementum dapibus risus a commodo.
              In non sagittis leo. Nulla efficitur, ipsum ac fringilla rhoncus, augue nisl lobortis tortor, in rhoncus elit
              lacus vitae sem. </p>
          </div>
        </div>
      </li>
      <!-- end block right-->
      <li>
        <div class="timeline-badge danger">2016
        </div>
      </li>
      <br>
      <br>
      <br>
      <!-- start block left-->
      <li>
        <div class="timeline-panel">
          <div>
            <table>
              <tr>
                <td>
                  <img src="../../assets/images/actualite/calendar/x.png" style="height: 15px;width:15px">
                </td>
                <td>
                  <h4>
                    <i>
                      &nbsp;&nbsp;Le Mercredi 06/02/2016
                    </i>
                  </h4>
                </td>
              </tr>
            </table>
          </div>


          <div class="timeline-heading">
            <h4 class="timeline-title" style="color:brown">Proin laoreet fringilla congue</h4>
          </div>
          <div class="timeline-body">
            <p class="text-justify">In a orci commodo, sollicitudin velit id, euismod arcu. Cras viverra varius cursus. Vestibulum sed risus urna.
              Donec lobortis venenatis feugiat. Donec semper ultrices fermentum. Morbi justo diam, pulvinar et semper eu,
              pretium eget quam. Cras at elit a dolor facilisis congue eu ac sapien.Suspendisse bibendum pulvinar tempus.
              Cras volutpat mattis est sit amet ornare. Quisque pharetra pretium lectus eu malesuada. Vestibulum ante ipsum
              primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi elementum dapibus risus a commodo.
              In non sagittis leo. Nulla efficitur, ipsum ac fringilla rhoncus, augue nisl lobortis tortor, in rhoncus elit
              lacus vitae sem. </p>
          </div>
        </div>

      </li>
      <!-- end block left-->
      <li class="timeline-inverted">
        <div class="timeline-badge info">2015</div>
      </li>
      <br>
      <br>
      <br>
      <!-- start block right-->
      <li class="timeline-inverted">
        <div class="timeline-panel">
          <div>
            <table>
              <tr>
                <td>
                  <img src="../../assets/images/actualite/calendar/x.png" style="height: 15px;width:15px">
                </td>
                <td>
                  <h4>
                    <i>
                      &nbsp;&nbsp;Le jeudi 20/10/2015
                    </i>
                  </h4>
                </td>
              </tr>
            </table>
          </div>
          <div class="timeline-heading">
            <h4 class="timeline-title " style="color:#00004d">Curabitur gravida urna sit</h4>
          </div>
          <div class="timeline-body">
            <p class="text-justify">In a orci commodo, sollicitudin velit id, euismod arcu. Cras viverra varius cursus. Vestibulum sed risus urna.
              Donec lobortis venenatis feugiat. Donec semper ultrices fermentum. Morbi justo diam, pulvinar et semper eu,
              pretium eget quam. Cras at elit a dolor facilisis congue eu ac sapien.Suspendisse bibendum pulvinar tempus.
              Cras volutpat mattis est sit amet ornare. Quisque pharetra pretium lectus eu malesuada. Vestibulum ante ipsum
              primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi elementum dapibus risus a commodo.
              In non sagittis leo. Nulla efficitur, ipsum ac fringilla rhoncus, augue nisl lobortis tortor, in rhoncus elit
              lacus vitae sem. </p>
          </div>
        </div>
      </li>
      <!--end block right-->
    </ul>
  </div>
</div>