<!--inner header start-->
<div class="main-heading">
  <div class="container">
    <h3>Suivez nos actualités</h3>
  </div>
</div>
<!--inner header end-->

<!--inner content start-->
<div class="main-content">
  <div class="container">
    <ul class="timeline">
      <li>
        <div class="timeline-badge danger">2012</div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Proin laoreet fringilla congue</h4>
          </div>
          <div class="timeline-body">
            <p class="text-justify">In a orci commodo, sollicitudin velit id, euismod arcu. Cras viverra varius cursus. Vestibulum sed risus urna.
              Donec lobortis venenatis feugiat. Donec semper ultrices fermentum. Morbi justo diam, pulvinar et semper eu,
              pretium eget quam. Cras at elit a dolor facilisis congue eu ac sapien.Suspendisse bibendum pulvinar tempus.
              Cras volutpat mattis est sit amet ornare. Quisque pharetra pretium lectus eu malesuada. Vestibulum ante ipsum
              primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi elementum dapibus risus a commodo.
              In non sagittis leo. Nulla efficitur, ipsum ac fringilla rhoncus, augue nisl lobortis tortor, in rhoncus elit
              lacus vitae sem. </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge info">2013</div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Nunc aliquet est at erat semper</h4>
          </div>
          <div class="timeline-body">
            <p class="text-justify">In a orci commodo, sollicitudin velit id, euismod arcu. Cras viverra varius cursus. Vestibulum sed risus urna.
              Donec lobortis venenatis feugiat. Donec semper ultrices fermentum. Morbi justo diam, pulvinar et semper eu,
              pretium eget quam. Cras at elit a dolor facilisis congue eu ac sapien.Suspendisse bibendum pulvinar tempus.
              Cras volutpat mattis est sit amet ornare. Quisque pharetra pretium lectus eu malesuada. Vestibulum ante ipsum
              primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi elementum dapibus risus a commodo.
              In non sagittis leo. Nulla efficitur, ipsum ac fringilla rhoncus, augue nisl lobortis tortor, in rhoncus elit
              lacus vitae sem. </p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-badge danger">2014</div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Duis mattis posuere ipsum</h4>
          </div>
          <div class="timeline-body">
            <p class="text-justify">In a orci commodo, sollicitudin velit id, euismod arcu. Cras viverra varius cursus. Vestibulum sed risus urna.
              Donec lobortis venenatis feugiat. Donec semper ultrices fermentum. Morbi justo diam, pulvinar et semper eu,
              pretium eget quam. Cras at elit a dolor facilisis congue eu ac sapien.Suspendisse bibendum pulvinar tempus.
              Cras volutpat mattis est sit amet ornare. Quisque pharetra pretium lectus eu malesuada. Vestibulum ante ipsum
              primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi elementum dapibus risus a commodo.
              In non sagittis leo. Nulla efficitur, ipsum ac fringilla rhoncus, augue nisl lobortis tortor, in rhoncus elit
              lacus vitae sem. </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Curabitur gravida urna sit</h4>
          </div>
          <div class="timeline-body">
            <p class="text-justify">In a orci commodo, sollicitudin velit id, euismod arcu. Cras viverra varius cursus. Vestibulum sed risus urna.
              Donec lobortis venenatis feugiat. Donec semper ultrices fermentum. Morbi justo diam, pulvinar et semper eu,
              pretium eget quam. Cras at elit a dolor facilisis congue eu ac sapien.Suspendisse bibendum pulvinar tempus.
              Cras volutpat mattis est sit amet ornare. Quisque pharetra pretium lectus eu malesuada. Vestibulum ante ipsum
              primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi elementum dapibus risus a commodo.
              In non sagittis leo. Nulla efficitur, ipsum ac fringilla rhoncus, augue nisl lobortis tortor, in rhoncus elit
              lacus vitae sem. </p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-badge info">2015</div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Suspendisse imperdiet ante egestas</h4>
          </div>
          <div class="timeline-body">
            <p class="text-justify">In a orci commodo, sollicitudin velit id, euismod arcu. Cras viverra varius cursus. Vestibulum sed risus urna.
              Donec lobortis venenatis feugiat. Donec semper ultrices fermentum. Morbi justo diam, pulvinar et semper eu,
              pretium eget quam. Cras at elit a dolor facilisis congue eu ac sapien.Suspendisse bibendum pulvinar tempus.
              Cras volutpat mattis est sit amet ornare. Quisque pharetra pretium lectus eu malesuada. Vestibulum ante ipsum
              primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi elementum dapibus risus a commodo.
              In non sagittis leo. Nulla efficitur, ipsum ac fringilla rhoncus, augue nisl lobortis tortor, in rhoncus elit
              lacus vitae sem. </p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Sed facilisis pretium elit</h4>
          </div>
          <div class="timeline-body">
            <p class="text-justify">In a orci commodo, sollicitudin velit id, euismod arcu. Cras viverra varius cursus. Vestibulum sed risus urna.
              Donec lobortis venenatis feugiat. Donec semper ultrices fermentum. Morbi justo diam, pulvinar et semper eu,
              pretium eget quam. Cras at elit a dolor facilisis congue eu ac sapien.Suspendisse bibendum pulvinar tempus.
              Cras volutpat mattis est sit amet ornare. Quisque pharetra pretium lectus eu malesuada. Vestibulum ante ipsum
              primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi elementum dapibus risus a commodo.
              In non sagittis leo. Nulla efficitur, ipsum ac fringilla rhoncus, augue nisl lobortis tortor, in rhoncus elit
              lacus vitae sem. </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge danger">2016</div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Phasellus eget felis interdum</h4>
          </div>
          <div class="timeline-body">
            <p class="text-justify">In a orci commodo, sollicitudin velit id, euismod arcu. Cras viverra varius cursus. Vestibulum sed risus urna.
              Donec lobortis venenatis feugiat. Donec semper ultrices fermentum. Morbi justo diam, pulvinar et semper eu,
              pretium eget quam. Cras at elit a dolor facilisis congue eu ac sapien.Suspendisse bibendum pulvinar tempus.
              Cras volutpat mattis est sit amet ornare. Quisque pharetra pretium lectus eu malesuada. Vestibulum ante ipsum
              primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi elementum dapibus risus a commodo.
              In non sagittis leo. Nulla efficitur, ipsum ac fringilla rhoncus, augue nisl lobortis tortor, in rhoncus elit
              lacus vitae sem. </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>