<!--inner header start-->
<div class="main-heading-actualites">
  <div class="container">
  </div>
</div>
<!--inner header end-->

<!--inner content start-->
<div class="main-content">
  <div class="container">
    <ul class="timeline">
      <ng-container *ngFor="let year of actualites">
        <li>
          <div class="timeline-badge {{year.backgroundColor}}">{{year.date}}
          </div>
        </li>
        <br>
        <br>
        <br>
        <!-- start block left-->
        <ng-container *ngFor="let actualite of year.actualites">
          <li class="{{actualite.class}}">
            <div class="timeline-panel">
              <div>
                <table>
                  <tr>
                    <td>
                      <img src="../../assets/images/actualite/calendar/x.png" style="height: 15px;width:15px">
                    </td>
                    <td>
                      <h4>
                        <i>
                          &nbsp;&nbsp;{{actualite.date}}
                        </i>
                      </h4>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="timeline-heading">
                <h4 class="timeline-title">
                  <span class="{{year.color}}">
                    {{actualite.name}}
                  </span>
                </h4>
              </div>
              <div class="timeline-body">
                <p class="text-justify">{{actualite.description}} </p>
              </div>
              <a routerLink="/actualite/{{year.date}}/{{actualite.id}}" class="btn-style-6-{{year.buttonColorIndice}} size-medium light-skin corner-rounded"
                style="float:right">voir plus</a>
            </div>

          </li>
        </ng-container>
      </ng-container>

    </ul>
  </div>
</div>