.stats-col .circle {
    display: inline-block;
    width: 160px;
    height: 160px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #666;
    border: 6px solid rgb(139,37,44);
    border-radius: 50%;
    padding: 55px 25px 0 25px;
    position: relative;
}

.stats-col .circle .stats-no {
    color: #fff;
    width: 70px;
    height: 70px;
    line-height: 70px;
    top: -25px;
    right: -15px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 18px;
    background-color: rgb(12,20,52);
    position: absolute;
    border-radius: 50%;
    font-weight: 700;
}

.pchiffre{
    line-height: 1.55;
    color: #333;
    font-size: 400;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
}

.h2chiffre {
    font-size: 30px;
    margin-bottom: 65px;
}

.slideanim {
    visibility:hidden;
    visibility:visible;/*For old IE browsers IE6-8 */
}
.slideanim.slide {                  
    visibility: visible;                  
    animation: slide 1s;
}
.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}

.about{
    padding:45px;
}