<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">



<main role="main">

  <div class="flexslider">
    <ul class="slides">
      <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;"
        class="">
        <video style="border: solid 1px black" autoplay muted loop id="myVideo">
          <source src="../../../assets/images/logoInspiration.mp4" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
      </li>
    </ul>
    <ul class="flex-direction-nav">
      <li><a class="flex-prev" href="#">Previous</a></li>
      <li><a class="flex-next" href="#">Next</a></li>
    </ul>
  </div>


  <!-- Partie Chiffres -->
  <section style="padding: 150px 0" class="about slideanim" id="about">
    <div class="container-fluid text-center">
      <div class="row stats-row">
        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span class="stats-no countchiffre" data-toggle="counter-up">14</span> <span class="text">Années d'experience</span> 
          </div>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span class="stats-no countchiffre plus" data-toggle="counter-up">500</span>  <span class="text">Juniors entrepreneurs</span>
          </div>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span class="stats-no countchiffre plus" data-toggle="counter-up">20</span> <span class="text">Evenements organisés</span>
          </div>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span class="stats-no countchiffre plus" data-toggle="counter-up">50</span> <span class="text">Projets réalisés</span>
          </div>
        </div>
      </div>
    </div>
  </section>


  <div class="container  marketing">

    <!--Partie description  -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto slideanim" src="../../../assets/images/insat1.jpg" alt="Generic placeholder image">
      </div>
      <div class="col-md-7">
        <h1 class="slideanim order-md-2">Quelques <span>mots sur notre Université</span></h1>
        <p class="lead slideanim">{{aboutus[0].description}}</p>
      </div>
    </div>


    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h1 class="slideanim">Une <span>Junior Entreprise ? </span></h1>
        <p class="lead slideanim">{{aboutus[2].description}}</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto slideanim" src="../../../assets/images/jeintunisia.jpg" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h1 class="slideanim">Qui <span>somme nous ?</span></h1>
        <p class="lead slideanim">{{aboutus[1].description}}</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto slideanim" src="../../../assets/images/membres.jpg" alt="Generic placeholder image">
      </div>
    </div>
  </div>

  <div style="margin-top: 2rem" class="container valeurs">
    <h2>Nos Valeurs</h2>
    <ul>
      <li>
        <img src="assets/images/about-us/clock.png" alt="">
        <h4>RÉACTIVITÉ</h4>
        <p>Vous souhaitez en savoir plus sur notre structure ? Vous avez un projet en tête ? Une idée ? Nous nous
          engageons à réponde à vos sollicitations dans les 24h.</p>
      </li>
      <li>
        <img src="assets/images/about-us/hands.png" alt="">
        <h4>ENGAGEMENT</h4>
        <p>Nous nous engageons et mobilisons nos équipes pour atteindre, voire dépasser vos attentes.</p>
      </li>
      <li>
        <img src="assets/images/about-us/people.png" alt="">
        <h4>OUVERTURE</h4>
        <p>Nos équipes s'engagent sur tout types de projets, quelque soit leurs tailles.</p>
      </li>
      <li>
        <img src="assets/images/about-us/badge.png" alt="">
        <h4>FIABILITÉ</h4>
        <p>Notre exigence de fiabilité se traduit par la rigueur dont font preuve nos collaborateurs.</p>
      </li>
    </ul>
  </div>
  <div class="container marketing">
    <hr class="featurette-divider" data-sequence='500'>

    <div class="row featurette">
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto slideanim" src="../../../assets/images/jet.png" alt="Generic placeholder image">
      </div>
      <div class="col-md-7 order-md-2">
        <h1 class="slideanim">LA CONFÉDÉRATION <span>TUNISIENNE DES JUNIOR ENTREPRISES</span></h1>
        <p class="lead slideanim">{{aboutus[3].description}}</p>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
  </div><!-- /.container -->
</main>