.stats-col .circle {
    display: inline-block;
    width: 160px;
    height: 160px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #666;
    border: 6px solid rgb(139,37,44);
    border-radius: 50%;
    padding: 55px 25px 0 25px;
    position: relative;
}

.stats-col .circle .stats-no {
    color: #fff;
    width: 70px;
    height: 70px;
    line-height: 70px;
    top: -25px;
    right: -15px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 18px;
    background-color: rgb(12,20,52);
    position: absolute;
    border-radius: 50%;
    font-weight: 700;
}

.pchiffre{
    line-height: 1.55;
    color: #333;
    font-size: 400;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
}

.h2chiffre {
    font-size: 30px;
    margin-bottom: 65px;
}

.slideanim {
    visibility:hidden;
    visibility:visible;/*For old IE browsers IE6-8 */
}
.slideanim.slide {                  
    visibility: visible;                  
    animation: slide 1s;
}
.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}

.about{
    padding:45px;
}

.nosvaleurs{
    background-color:rgb(139,37,44);
    color: white;
    padding: 40px;
    text-align:center;
    font-family: fantasy;
}


.valeurs h2{
    color: white;
    background: #922a38;
    padding: 24px 60px;
    display: inline-block;
    text-align: left;
    margin: 0;
}

.valeurs ul{
    text-align: center;
    background: #081a36;
    padding: 16px 0
}

.valeurs ul li{
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding:0 8px;
    box-sizing: border-box;
    position: relative;
    padding-top: 60px
}

.valeurs ul li img{
    width: 48px;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    position: absolute;
    top: 0;
}

.valeurs ul li p,.valeurs ul li h4{
    color: white
}

.valeurs ul li p{
    text-align: left;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    text-align: justify;	
}

.valeurs ul li h4{
    font-family: cursive;
    font-size: 25px;
    font-weight: 600;

}