<div class="main-heading-formations">
  <div class="container">
  </div>
</div>

<div class="container">
  <app-years-navbar></app-years-navbar>

  <div class="row">
    <div class="col-md-12">
      <!-- This is the set up of a basic gallery, your items must have the big-categories they belong to in a data-category
      attribute, which starts from the value 1 and goes up from there -->
      <div class="row filtr-container" style="padding: 0px; position: relative; height: 500px;">
        <div *ngFor="let formation of formations" class="col-xs-12 col-sm-4 col-md-4 filtr-item" attr.data-sort={{formation.dataSort}}
          data-category="1, 6">
          <div class="product-container" style="height: 150px">
            <a routerLink="/formations/{{formation.id}}" class="portfolio-img mfp-image">
              <img src="../../../assets/images/formations/affiche/{{formation.img}}" alt="">
            </a>
            <span class="item-desc">{{formation.name}}</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>