<div class="main-heading-events">
  <div class="container">
    <h3>Formations</h3>
  </div>
</div>

<div class="container">
  <app-years-navbar></app-years-navbar>

  <div class="row">
    <div class="col-md-12">
      <!-- This is the set up of a basic gallery, your items must have the big-categories they belong to in a data-category
      attribute, which starts from the value 1 and goes up from there -->
      <div class="row filtr-container" style="padding: 0px; position: relative; height: 500px;">
        <div *ngFor="let formation of formations" class="col-xs-12 col-sm-4 col-md-4 filtr-item" attr.data-sort={{formation.dataSort}}
          data-category="1, 4">
          <div class="product-container">
            <a routerLink="/formations/{{formation.id}}" class="portfolio-img mfp-image">
              <img src="../../../assets/images/projects/{{formation.img}}" alt="">
            </a>
            <span class="item-desc">{{formation.name}}</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>





<div class="row">
  <div class="col-sm-12">
    <ul class="coin-stat-bar list-inline text-center">
      <li class="list-inline-item"><i class="fa fa-3x fa-bitcoin"></i>
        <h6 class="ng-binding">1 = </h6>
      </li>
      <li class="list-inline-item"><i class="fa fa-3x fa-dollar"></i>
        <h6 class="ng-binding"> = USD</h6>
      </li>
      <li class="list-inline-item"><i class="fa fa-3x fa-bar-chart"></i>
        <h6>Today</h6>
      </li>
    </ul>
  </div>
  <div class="col-sm-12">
    <div class="white-space" style="padding: 35px 0"></div>
  </div>

  <div class="col-sm-6">
    <img class="img-fluid" src="assets/images/bitcoins.png" data-src="assets/images/bitcoins.png" alt="image">
    <div class="hidden-sm-up">
      <div class="white-space" style="padding: 25px 0"></div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="wbitcoin">
      <div class="section-title">
        <h2>What is BitCoin ?</h2>
      </div>

      <div class="white-space" style="padding: 15px 0"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quod voluptas consequatur distinctio ut
        quibusdam illum suscipit,
        <br>
        <br> eaque et perspiciatis eos, nisi id non! Voluptates omnis doloremque, officia, voluptatibus eius eum
        repellat delectus at assumenda iste aut tempora fugit amet culpa, laudantium ipsa dolorum fuga, possimus
        eveniet voluptatum. Nisi architecto animi, accusamus expedita pariatur. Suscipit ipsam repellat porro explicabo
        dignissimos.</p>
      <div class="white-space" style="padding: 10px 0"></div>
      <div class="button">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Learnmore</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>