<div class="team-container expert-team m-t-90">
  <div class="container">
      <h1>OUR <span>TEAM</span></h1>
      <p>Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consec
          <br> tetuer adipis elit, aliquam eget nibh etlibura.</p>
      <div class="row">
          <div class="col-md-4 col-sm-6">
              <div  class="employe-container team">
                  <div class="employe-thumbnail-classic profile-image"> <img src="src/assets/images/team-1.jpg">
                      <div class="team-profile">
                          <h5><a href="#">Quisque pharetra</a></h5>
                          <span>Supervisor</span>
                          <ul class="experts">
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="employe-container team">
                  <div class="employe-thumbnail-classic profile-image"> <img src="src/assets/images/team-2.jpg">
                      <div class="team-profile">
                          <h5><a href="#">Morbi elementum</a></h5>
                          <span>Supervisor</span>
                          <ul class="experts">
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="employe-container team">
                  <div class="employe-thumbnail-classic profile-image"> <img src="src/assets/images/team-3.jpg">
                      <div class="team-profile">
                          <h5><a href="#">Curabitur Eutempor</a></h5>
                          <span>Supervisor</span>
                          <ul class="experts">
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4 col-sm-6">
              <div class="employe-container team">
                  <div class="employe-thumbnail-classic profile-image"> <img src="src/assets/images/team-4.jpg">
                      <div class="team-profile">
                          <h5><a href="#">Quisque pharetra</a></h5>
                          <span>Supervisor</span>
                          <ul class="experts">
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="employe-container team">
                  <div class="employe-thumbnail-classic profile-image"> <img src="src/assets/images/team-5.jpg">
                      <div class="team-profile">
                          <h5><a href="#">Morbi elementum</a></h5>
                          <span>Supervisor</span>
                          <ul class="experts">
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="employe-container team">
                  <div class="employe-thumbnail-classic profile-image"> <img src="src/assets/images/team-6.jpg">
                      <div class="team-profile">
                          <h5><a href="#">Curabitur Eutempor</a></h5>
                          <span>Supervisor</span>
                          <ul class="experts">
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>