<!--inner header start-->
<div class="main-heading-actualites">
  <div class="container">
  </div>
</div>
<!--inner header end-->
<section class="about-container">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="wew fadeInUp" data-wew-delay="1s">{{name1}}
          <span>{{name2}}</span>
        </h1>
        <!-->
        <h4>{{id}}</h4>
        <-->
          <div class="about-section wew fadeInUp" data-wew-delay="1s">{{date}}</div>
          <p class="m-t-30 wew fadeInUp" data-wew-delay="1s">{{description}} </p>
          <ul class="m-t-30 about-service wew fadeInUp" data-wew-delay="1s">
            <li>Sed aliquet leo ac enim ultrices.</li>
            <li>Vivamus consectetur orci augue.</li>
            <li>Nibh tristique in. Phasellus semper.</li>
            <li>Eget facilisis cursus, orci tortor.</li>
            <li>Commodo eros nibh in eros phasellus.</li>
            <li>Placerat libero, ut rhoncus velit.</li>
            <li>Non libero malesuada, eleifend nequ.</li>
            <li>Sit amet finibus purus, in facilisis.</li>
            <li>Nunc malesuada elit nec vehicula.</li>
            <li>Suspendisse aliquet orci malesuada.</li>
            <li>Vivamus interdum urna vitae tortor.</li>
            <li>Proin tempus sodales eros ut viverra.</li>
            <div class="clearfix"></div>
          </ul>




          <div class="about-me-social">
            <h3 class="m-b-50">Social Media</h3>
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-youtube"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-reddit"></i>
                </a>
              </li>
            </ul>
          </div>
      </div>
      <div class="col-md-5">
        <h3 class="m-b-50">Gallerie</h3>
        <div class="row about-me-works">

          <div *ngFor="let image of img " class="col-md-4 col-sm-6 col-xs-12">
            <a class="portfolio-img mfp-image" href="../../../../assets/images/actualite/gallery/{{image.img}}" data-lightbox="image-1"
              data-title="img-act">
              <img src="../../../../assets/images/actualite/gallery/{{image.img}}" alt="" style="width:300px;height:15rem" />
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>