<div class="page-wrapper">
  <div class="header-container">
  </div>

  <section class="main-container padding-ver-clear">
    <div class="container pv-40">
      <div class="row">

        <div class="main col-lg-8">
          <h1 class="title">Project Title</h1>
          <div class="separator-2"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde.
            Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam
            suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero!
            Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi
            illo voluptates dolore nemo quo soluta quis.</p>
          <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi
            optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum
            autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
          <div class="separator-2"></div>
          <h3 class="mt-3" style="margin-bottom: -10px">Client Testimonial</h3>
          <section class="page-section">
            <div class="container" style="margin-top: -70px; margin-left: -35px">
              <ul class="row testimonials-page test">
                <li *ngFor="let client of clients" class="col-md-6">
                  <div class="testi-info">
                    <div class="client-image"><img src="../../../../assets/images/{{client.img}}"></div>
                    <div class="test-desc">
                      <p>{{client.testimonial}}</p>
                      <div class="name">{{client.name}} <span>{{client.post}}</span></div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </section>

          <div class="container">
            <h1>les membres <span> affectés</span></h1>
            <p style="text-align: center;">Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet,
              consec
              <br> tetuer adipis elit, aliquam eget nibh etlibura.</p>
            <div class="row margin-b-60">
              <div *ngFor="let membre of membres" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="employe-container">
                  <div class="employe-thumbnail-classic">
                    <img class="" src="../../../../assets/images/{{membre.img}}">
                  </div>
                  <div class="employe-desc">

                    <h3>{{membre.name}}</h3>

                    <h5>{{membre.post}}</h5>
                    <p>{{membre.description}}</p>
                    <div class="employe-social-icons-classic">
                      <a href={{membre.socialMedia.facebook}} target="_blank"><i class="fa fa-facebook"></i></a>
                      <a href={{membre.socialMedia.linkedin}} target="_blank"><i class="fa fa-linkedin"></i></a>
                      <a href={{membre.socialMedia.github}} target="_blank"><i class="fa fa-github"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- ================ -->
        <aside class="col-lg-4 col-xl-3 ml-xl-auto">
          <div class="sidebar">
            <div class="block clearfix" style="padding-top: 90px">
              <h3 class="mt-4">Project Info</h3>
              <div class="separator-2"></div>
              <ul class="list margin-clear">
                <li><strong>Client: </strong> <span class="text-right">Famous Person</span></li>
                <li><strong>Date: </strong> <span class="text-right">May 2017</span></li>
                <li><strong>Sujet: </strong> <span class="text-right">Web Design</span></li>
                <li><strong>Place: </strong> <span class="text-right">Europe</span></li>
                <li><strong>URL: </strong> <span class="text-right"><a href="#">www.your_domain.com</a></span></li>
              </ul>
            </div>
          </div>
        </aside>

      </div>
    </div>
  </section>




</div>